<%-include("../partials/adminheader.ejs");%>
<h1 class="display-3 text-center" style="font-size: 3rem;">Student Details</h1>
  
   
       
      
      
<div class="container">
  <% var i = 0; %>
  <% users.forEach((user) => { %>
    <% if (user.student) { %>
      <% if (i % 3 === 0) { %>
        <div class="row">
      <% } %>
      
      <div class="col-md-4">
        <div class="card h-100 shadow mb-3">
          <img class="card-img-top img-thumbnail" src="https://img.freepik.com/premium-vector/happy-smiling-young-man-avatar-3d-portrait-man-cartoon-character-people-vector-illustration_653240-187.jpg?w=740" style="height: 250px;" alt="Can not display">
          <div class="card-body d-flex flex-column">
            <h3 class="card-title"><%= user.student.firstName %></h3>
            <ul class="list-unstyled">
              <li><b>Firstname:</b> <%= user.student.firstName %></li>
              <li><b>Lastname:</b> <%= user.student.lastName %></li>
              <li><b>PhoneNo:</b> <%= user.student.phoneNo %></li>
              <li><b>Address:</b> <%= user.student.address %></li>
              <li><b>Type:</b> <span>Student</span></li>
              <li><b>Courses:</b></li>
              <ul>
                <% user.student.courses.forEach((course) => { %>
                  <li><%= course.title %></li>
                <% }) %>
              </ul>
            </ul>
            <div class="mt-auto">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <% if (user.flag === 0) { %>
                    <a href="/admin/block/<%= user._id %>"> 
                      <button id="block-btn" type="submit" class="btn btn-outline-danger">Block</button>
                    </a>
                  <% } else { %>
                    <a href="/admin/block/<%= user._id %>"> 
                      <button id="block-btn" type="submit" class="btn btn-outline-success">UnBlock</button>
                    </a>
                  <% } %>
                </div>
                <div>
                  <a href="/admin/delete/<%= user._id %>">
                    <button type="button" class="btn btn-danger">Delete</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <% i++; %>
      <% if (i % 3 === 0) { %>
        </div>
      <% } %>
    <% } %>
  <% }) %>   

  <% if (i % 3 !== 0) { %>
    </div>
  <% } %>
</div>

      

           
        
<%-include('../partials/adminfooter.ejs');%>

