<%-include("../partials/adminheader.ejs");%>
<h1 class="display-3 text-center" style="font-size: 3rem;">Student Details</h1>
  
    <div class="row col-md-12 justify-content-center btn-add">
       
        <div class="col-md-1 carousel-title "> </div>
        <div class="col-md-10 carousel-title btn-add">
          <div>
            <hr />
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      
      <% users.forEach((user)=>{ %>

        <% if(user.student){%>

        <div class="row col-md-12 justify-content-center">
            <div class="col-md-1"></div>
            <div class="col-md-10">
            <div class="item-container">
                <div class="item-image col-md-3">
                <img class="img-thumbnail item-image" src="/img/student.avif"  style="width:200px"
                    alt="Can not display">
                </div>
                <div class="item-content col-md-6">
                <div> 
                    <h3><%=user.student.firstName%></h3>  
                </div>
                  <div> <b>Firstname:</b> <%= user.student.firstName%></div>
                <div> <b>Lastname:</b> <%= user.student.lastName%></div>
                <div> <b>PhoneNo:</b> <%= user.student.phoneNo%></div>
                <div><b>Address:</b> <%= user.student.address%></div>
                <div><b>Type:</b>  <span>Student</span> </div>

                <ul>
                 
                  <% courses.forEach((course)=>{%>
                    <li><%=course.title%></li>

                  <%})%>
                </ul>
                
              
                </div>
                <div class="col-md-1">
                        <div >
                        
                          <%if(user.flag === 0 ) {%>
                            <a href="/admin/block/<%=user._id%>"> <button id="block-btn" type="submit" class="btn btn-outline-danger" style="margin-top: 20px;">Block</button></a>
                        <%} else {%>
                            <a href="/admin/block/<%=user._id%>"> <button id="block-btn" type="submit" class="btn btn-outline-success" style="margin-top: 20px;">UnBlock</button></a>
                        <%}%>
                        </div>
                        <div><a href="/admin/student/delete/<%=user._id%>"><button type="button" class="btn btn-danger" style="margin-top: 20px;">Delete</button></a></div>
                
                </div>
            </div>
            </a>
            <div>
                <hr />
            </div>
            </div>
        <%}%>

      <% }) %>   

      

           
        
<%-include('../partials/adminfooter.ejs');%>

