<%-include('../partials/signedinnav.ejs')%>
<style>
  .review {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .review-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .review-image {
    flex-shrink: 0;
    margin-right: 1rem;
  }

  .review-image img {
    width: 80px;
    height: 80px;
  }

  .review-content {
    flex-grow: 1;
  }
</style>
<div class="loader-container">
  <div class="book-loader"></div>
</div>
<section class="content section-padding">
  <% if (messages.success) { %>
  <div class="alert alert-success"><%= messages.success %></div>
  <% } %> <% if (messages.error) { %>
  <div class="alert alert-danger"><%= messages.error %></div>
  <% } %>
  <div class="container">
    <div class="row d-flex">
      <h1 style="text-decoration: underline; color: #06bbcc">
        <%=data.title%>
      </h1>
      <div class="col-lg-8">
        <video
          class="video-play"
          style="width: 50rem; padding-top: 30px"
          id="video-player"
          controls
        >
          <source src="" type="video/mp4" />
        </video>
        <nav class="course-tabs">
          <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
            <button
              class="nav-link active"
              style="background-color: #06bbcc; color: white; border-radius: 5%"
              id="course-overview-tab"
              data-bs-toggle="tab"
              data-bs-target="#course-overview"
              type="button"
              role="tab"
              aria-controls="course-overview"
              aria-selected="true"
            >
              Overview
            </button>
            <button
              class="nav-link"
              style="background-color: #06bbcc; color: white; border-radius: 5%"
              id="course-description-tab"
              data-bs-toggle="tab"
              data-bs-target="#course-description"
              type="button"
              role="tab"
              aria-controls="course-description"
              aria-selected="false"
            >
              Description
            </button>
            <button
              class="nav-link"
              style="background-color: #06bbcc; color: white; border-radius: 5%"
              id="course-review-tab"
              data-bs-toggle="tab"
              data-bs-target="#course-review"
              type="button"
              role="tab"
              aria-controls="course-review"
              aria-selected="false"
            >
              Reviews
            </button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active"
            id="course-overview"
            role="tabpanel"
            aria-labelledby="course-overview-tab"
          >
            <div class="container">
              <h3><%=data.title%></h3>
              <div
                class="py-2"
                style="
                  display: flex;
                  justify-content: space-between;
                  color: #000;
                "
              >
                <div class="ratings px-2">
                  <span style="color: gold"
                    >4.5 <i class="fas fa-star"></i> </span
                  ><br />
                  <p>5 Ratings</p>
                </div>
                <div class="students px-2">
                  <span
                    style="font-weight: 1000; color: #000; margin-right: 2px"
                    ><%=data.students.length%></span
                  >
                  <br />Students
                </div>
                <div class="hours px-2">
                  <span style="font-weight: 1000; color: #000">10 Hours</span>
                  <br />total
                </div>
              </div>
              <div
                class="instructor d-flex"
                style="justify-content: space-between; color: #000"
              >
                <div class="px-3">
                  <a href=""><h5>Dr.<%=teacher.FullName%></h5></a>
                  <p>Web Developer</p>
                </div>
                <div class="px-3">
                  <p><i class="fas fa-code"></i> Updated on March 2023</p>
                </div>
                <div class="px-3">
                  <p>
                    <i class="fas fa-university"></i> Institute :
                    <%=teacher.InstName%>
                  </p>
                </div>
              </div>

              <div class="p-4" style="border: 0.0625rem solid black">
                <h2>What you'll Learn</h2>
                <ul style="list-style-type: disc">
                  <li>Lorem ipsum dolor sit amet.</li>
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Saepe, veniam.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos, explicabo.
                  </li>
                  <li>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Ipsa, hic.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="course-description"
            role="tabpanel"
            aria-labelledby="course-description-tab"
          >
            <div class="container">
              <div class="row">
                <p>
                  Welcome to the <%=data.name%> Bootcamp, the only course you
                  need to learn to code and become a
                  <bold><%=data.name%> coder</bold> . With 1500+ ratings and a
                  4.5 average, my <%=data.name%> course is one of the HIGHEST
                  RATED courses in the history of Eduphoria!
                </p>
                <div>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Tempore laborum obcaecati cumque? Quam enim numquam doloribus
                  obcaecati consequatur unde voluptatum voluptate rerum, officia
                  architecto nemo? Nobis itaque ducimus dolor laudantium aliquid
                  dignissimos dicta? Necessitatibus animi deleniti eligendi
                  voluptatem inventore hic consequuntur, harum unde quae enim
                  fugit, quas nihil. Quisquam, adipisci?
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Modi omnis iste tempore in maxime suscipit debitis corporis
                    dignissimos deserunt velit eos quos quas, voluptates quam
                    incidunt quo dolore. Hic suscipit rem nemo provident
                    doloremque accusamus aut neque at accusantium ipsa natus
                    voluptatem autem dolorem, vero quos praesentium similique
                    sed corrupti veniam, in fuga placeat eum cumque! Similique
                    expedita enim recusandae quas repellendus nemo laudantium
                    eos animi reiciendis error excepturi deserunt laboriosam,
                    voluptatum facere perspiciatis culpa praesentium temporibus
                    sed quae consequatur, suscipit magni repellat ex? Labore, ut
                    facere dolorum modi eaque impedit laudantium consequuntur
                    quod totam expedita id, accusantium iusto voluptatibus.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="tab-pane fade"
            id="course-review"
            role="tabpanel"
            aria-labelledby="course-review-tab"
          >
            <div class="course-review box">
              <h3 class="text-capitalize mb-4">Reviews</h3>
              <h2>Add a review</h2>

              <form id="reviewForm">
                <div class="form-group">
                  <label for="rating">Rating</label>
                  <input
                    type="hidden"
                    value="<%=student._id%>"
                    name="studentId"
                    id="studentId"
                  />
                  <input
                    type="hidden"
                    value="<%=student._id%>"
                    name="student"
                  />
                  <input
                    id="studentName"
                    value="<%=student.firstName%>"
                    type="hidden"
                  />
                  <input
                    type="hidden"
                    value="<%=data._id%>"
                    name="courseId"
                    id="courseId"
                  />

                  <select
                    class="form-control"
                    id="rating"
                    name="rating"
                    required
                  >
                    <option value="">Select a rating</option>
                    <option value="1">1 - Poor</option>
                    <option value="2">2 - Fair</option>
                    <option value="3">3 - Good</option>
                    <option value="4">4 - Very good</option>
                    <option value="5">5 - Excellent</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="comment">Comment</label>
                  <textarea
                    class="form-control"
                    id="comment"
                    name="comment"
                    rows="5"
                    required
                  ></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <br /><br />
            <hr />

            <div class="row">
              <div class="col-md-8">
                <h2>Student Reviews</h2>

                <% if (reviews.length === 0) { %>
                <h2>No reviews yet.</h2>
                <% } else { %> <% reviews.forEach(review => { %>
                <div id="reviews-container">
                  <div class="review-box">
                    <div class="review">
                      <div class="review-image">
                        <img src="/Img/review/1.png" class="rounded-circle" />
                      </div>
                      <div class="review-content">
                        <h4><b>Name:</b><%= review.student.firstName %></h4>
                        <div style="color: #000">
                          <b>Rating:</b> <%= review.rating %>
                        </div>
                        <div style="color: #000">
                          <b>Comment:</b><%= review.comment %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %> <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6">
        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="course-curriculum"
            role="tabpanel"
            aria-labelledby="course-curriculum-tab"
          >
            <div class="course-curriculum box">
              <h3 class="text-capitalize mb-4">course content</h3>
              <!-- Accordtion start -->
              <div class="accordion" id="accordion">
                <!-- Accordion item starts -->
                <%if(chapters.length==0){%>
                <h2>Chapters are yet to be added...</h2>
                <%}%> <% chapters.forEach((chapter)=>{%>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading-1">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#<%=chapter._id%>"
                      aria-expanded="true"
                      aria-controls="collapse-1"
                    >
                      <%=chapter.name%> <br />
                      <span
                        ><%=chapter.lessons.length%> Lessons |
                        <%=chapter.lessons.length * 6%> min</span
                      >
                    </button>
                  </h2>
                  <div
                    id="<%=chapter._id%>"
                    class="accordion-collapse collapse show"
                    aria-labelledby="heading-1"
                    data-bs-parent="#accordion"
                  >
                    <div class="accordion-body">
                      <ul>
                        <%chapter.lessons.forEach((lesson)=>{%>
                        <li>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                            id="lesson-<%=lesson._id%>-checkbox" <% if
                            (lesson.checked == 1) { %> checked <% } %> >
                            <label
                              class="form-check-label"
                              for="lesson-<%=lesson._id%>-checkbox"
                            >
                              <a
                                href=""
                                data-video="/<%=lesson.videoUrl%>"
                                onclick="playVideo(event,'<%=lesson._id%>')"
                              >
                                <i
                                  style="color: #06bbcc"
                                  class="fas fa-play-circle"
                                ></i>
                                <%=lesson.title%>
                                <span>06:00</span>
                              </a>
                            </label>
                          </div>
                        </li>
                        <% })%>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Accordion item ends -->
                <%})%>
              </div>
              <div class="accordion" id="accordion">
                <div class="accordion-body">
                  <a
                    style="display: block"
                    id="attend-quiz-btn"
                    class="btn btn-primary"
                    role="button"
                    href="/student/quiz/<%=data._id%>"
                    aria-disabled="truew"
                    >Attend Quiz</a
                  >

                  <a
                    style="
                      display: block;
                      margin-top: 5px;
                      pointer-events: none;
                    "
                    role="button"
                    class="btn certificatebtn btn-success"
                    href="/certificate/<%=student._id%>/<%=data._id%>"
                    >Generate Certificate</a
                  >
                </div>
              </div>

              <!-- Accordtion ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<script>
  const checkboxes = document.querySelectorAll("input[type=checkbox]");
  const button = document.querySelector(".certificatebtn");

  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", () => {
      const checkedCheckboxes = Array.from(checkboxes).filter(
        (checkbox) => checkbox.checked
      );
      if (checkedCheckboxes.length === checkboxes.length) {
        console.log(checkboxes.length);
        console.log(checkedCheckboxes.length);
        button.style.pointerEvents = "all";
      } else {
        button.style.pointerEvents = "none";
      }
    });
  });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const loaderContainer = document.querySelector('.loader-container'); 

  function showLoader() {
    if (loaderContainer) {
      loaderContainer.style.display = 'flex'; 
    }
  }

  function hideLoader() {
    if (loaderContainer) {
      loaderContainer.style.display = 'none'; 
  }
    }
    const reviewForm = document.getElementById("reviewForm");

    reviewForm.addEventListener("submit", function (event) {
      event.preventDefault();

      const courseId = document.getElementById("courseId").value;
      const rating = document.getElementById("rating").value;
      const comment = document.getElementById("comment").value;
      const student = document.getElementById("studentId").value;
      const name = document.getElementById("studentName").value;

      showLoader();

      const xhr = new XMLHttpRequest();
      xhr.open("POST", `/student/reviews/${courseId}`, true);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

      xhr.onload = function () {
        hideLoader();
        if (xhr.status === 200) {
          const response = JSON.parse(xhr.responseText);

          if (response.success === true) {
            const newReview = `
              <div class="review-box">
                <div class="review">
                  <div class="review-image">
                    <img src="/Img/review/1.png" class="rounded-circle" />
                  </div>
                  <div class="review-content">
                    <h4><b>Name:</b>${name}</h4>
                    <div style="color: #000;"><b>Rating:</b> ${rating}</div>
                    <div style="color: #000;"><b>Comment:</b>${comment}</div>
                  </div>
                </div>
              </div>
            `;
            alert(response.msg);
            document.getElementById("rating").value = "";
            document.getElementById("comment").value = "";
            document.getElementById("reviews-container").insertAdjacentHTML("beforeend", newReview);
          } else {
            alert(response.msg);
          }
        } else {
          console.error("Request failed with status:", xhr.status);
          alert("Unable to add review");
        }
      };

      xhr.onerror = function () {
        hideLoader();
        console.error("Request failed");
        alert("Unable to add review");
      };

      const formData = `rating=${encodeURIComponent(rating)}&student=${encodeURIComponent(student)}&comment=${encodeURIComponent(comment)}`;
      xhr.send(formData);
    });
  });
</script>


<%-include("../partials/footer.ejs") %>
