<%-include('../partials/signedinnav.ejs')%>;
<style>
    img {
      border-radius: 25%;
      align-self: center;
      height: 300px;
    }
    p {
      align-self: center;
      font-size: larger;
    }
    .col-8{
      display: flex;
    }
    button{
      align-items: center;
      align-self: center;
    }
  </style>


<form method="POST" action="/student/profile/edit" enctype="multipart/form-data">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="container-fluid mt-4">
            <div class="row">
              <div class="card mb-3">
                <ul class="list-group list-group-flush">
                  <img src="/<%=student.Imageurl%>" alt="Avatar" style="width:200px">
                    <input type="file" name="profile" placeholder="Choose Image">
                  <p><%=student.firstName%></p>
                  <a class="list-group-item list-group-item-action" href="/student/course-list">My Learning</a>
                  <a class="list-group-item list-group-item-action " href="/student/profile">Profile</a>
                  <a class="list-group-item list-group-item-action" href="/student/account">Account</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
          <div class="col-lg-8">
            <div class="container-fluid mt-4">
              <input type="hidden" name="sid" value="<%=student._id%>">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="FirstName" value="<%=student.firstName%>" name="fname">
                <label for="floatingInput">FirstName</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="FirstName" value="<%=student.lastName%>" name="lname">
                <label for="floatingInput">LastName</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="PhoneNo" value="<%=student.phoneNo%>" name="phno">
                <label for="floatingInput">PhoneNo</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Address" value="<%=student.address%>" name="address">
                <label for="floatingInput">Address</label>
              </div>
              
              
              <button type="submit" class="btn btn-outline-success" >
              <i class="fa fa-check" aria-hidden="true"></i>
              Save
            </button>
            </div>

          </div>
        </div>
       
          
        </div>
      </div>
    </div>
    </form>


<%-include('../partials/footer.ejs')%>;