<%-include('../partials/signedinnav.ejs')%>
<style>
  .hover-1 {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  transition: 0.3s;
  
}
.hover-1:hover {
  color: #46cfbf;
  background-position: 100% 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  transform: translateY(2px);
}
</style>
  <input type="hidden" value="<%=student._id%>" name="studentId">

  <div class="container">
    <div class="headings" style="text-align: center;">
      <h1>Attend Course and Take Quiz</h1>
      
    </div>
    <hr>
    <h2>Course Details</h2>
  <h5><strong>Title:</strong> <%= course.title %></h5>
  <h5><strong>Description:</strong> <%= course.description %></h5>
  <hr>
  <h2>Quiz Questions</h2>
  <br>
  <form id="quizForm" class="form-horizontal" action="/student/submitQuiz" method="post">
    <%if(quizzes.length == 0){%>
      <h3>Quiz questions not added yet</h3>
    <%} else {%>
    <% quizzes.forEach((quiz)=>{%>
      <input type="hidden" name="quizId" value="<%=quiz._id%>">
      
    <% quiz.questions.forEach(function(question,i) { %>
      <h3><%=i+1%>. <%= question.question %></h3> 
      <% question.options.forEach(function(option, index) { %>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="radio">
              <label class="hover-1"style="font-size: 18px; padding: 2px;">
                <input type="radio" id="option<%= index %>" name="question<%=i+1%>" value="qnoption<%= index+1 %>" required>
                <%= option %>
              </label>
            </div>
          </div>
        </div>
      <% }); %>
      <br>
      <hr>
      
    <% }); %>
    <%})%>
    <input type="hidden" name="courseId" value="<%= course._id %>">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit"  class="btn btn-primary">Submit Quiz</button>
      </div>
    </div>
  </form>
    <%}%>
  
  </div>
  



<%-include('../partials/footer.ejs')%>

